main {
	display: flex;
	justify-content: center;
	#main-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgb(255, 255, 255);
		width: 80%;
		.ceramics {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
				img {
					width: 200px;
					height: 200px;
				}
			}
		}
	}
